<div class="col-md-12 text-center enter_section ">
   <span>
      (Total expenses:
      {{getLength expenses }})
   </span>
   <form action="/api/expenses/create"
         method="POST">
      <input type="text"
             class="form-control"
             name="expense"
             value=""
             placeholder="Add Your Expense"
             id="enter_text">
      <button type="submit"
              class="btn btn-dark"
              id="text-enter-button">Add Expense</button>
   </form>
</div>