<table class=" table table-dark table-striped text-center">
   <tbody>
      {{#each expenses}}
      <tr>
         <td> {{this.dataValues.date}}</td>
         <td> {{this.dataValues.payee}}</td>
         <td> ${{this.dataValues.amount}}</td>
         <td> {{this.dataValues.category}}</td>
      </tr>
      {{/each}}
   </tbody>

</table>